/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;
    box-sizing: border-box;
}

.toc{
  position: absolute;
  top: 65vw;;
  left: 30%;
}

.body_center {
font-size: 3vw;
}

.CHALLENGE{
  font-size: 1.9vw;
  max-width: 30%;
  text-decoration: overline;
  border-right: solid 2px black;
}

.print a {
  -webkit-text-stroke: 2.5px white;
}

.gras{
font-style: italic;
-webkit-text-stroke: 2.5px black;
}

h1 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 2.3em;
    color: black;
}

h2 {
  font-family: 'cmunvt';
  font-size: 2em;
}

h3 {
    font-family: 'cmunvi';
    font-size: 2em;
    float: right;
    text-decoration: underline;
    -webkit-text-stroke: .2px white;
}

h4{
  font-family: 'cmunvt';
  font-size: 1.5em;
  float: left;
}

p {
  font-family: 'cmunbtl';
  font-size: 2vw;
  line-height: 1.25em;
}


li{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
  list-style: none;
}

i{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 4em;
  line-height: 1.15em;
}


a{
  text-decoration: none;
  color: black;
}

.fullpage img {
  width: 130%;
  /*height: 50%;*/
}

.portrait img {
  width: 55%;
  position: relative;
  margin-left: 100px;
  /*height: 50%;*/
}

img{
  display: none;
  max-width: 55%;
  max-height: 55%;
  position: relative;

}

#gauche{
  display: relative;
  position: absolute;
  left:3%;
  padding: 2px;
}

#droite{
  position: relative;
  display: block;
  left: 50%;
  padding: 2px;
}

.quote{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
}

strong{
    font-family: 'cmunui';
letter-spacing: -.1vw;
}



.strong{
  font-family: 'cmunui';
letter-spacing: -.1vw;
}

.separate{
  background-color: black;
  width: 90%;
  height: .2vw;
  opacity: 1;
}

.notes {
  display: block;
  position: relative;
  left: 25%;
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.80em;
  line-height: 1.25em;
  max-width: 70%;
  text-align: right;
  transform: rotate(-3deg);
}

.ss-notes{
  display: block;
  background: #15b965;
  position: relative;
  color: white;
  left: 65%;
  font-family: 'cmunbtl';
  font-size: 0.70em;
  line-height: 1.25em;
  width: 20%;
  text-align: left;
  transform: scaleY(30deg);
}


@font-face {
  font-family: 'cmunbtl';
  src: url('../font/cmunbtl.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunui';
  src: url('../font/cmunui.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvi';
  src: url('../font/cmunvi.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvt';
  src: url('../font/cmunvt.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
