/* IDEA: BLUR BLUR BLUR BLUR BLUR BLUR
filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
 */

body {
background: #f0f8ff;
  box-sizing: border-box;
}

.header{
  background-color: darkred;
}

.wrapper{

  max-width: 1000px;
    position: relative;
    margin: auto;
}

.documentation{
  background-color: black;
}

.Description-projet:hover{
background-color: lightblue;
}
.Description-projet{
  background-color: pink;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.open-laptop{
    background-color: violet;
}

.Motherboard{
  background-color: yellow;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.Motherplotter{
  background-color: lightgreen;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.Description p{
  font-size: 2vw;
  padding: 0 10% 0 10%;
}

.mySlides {
  display: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

ul a:hover{
  background: black;
color: white;
text-decoration: none;
}

ul {
  font-size: 8vw;
  font-family: 'compagnon';
  text-decoration: none;
  list-style-type: none;
}

a{
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'IBMPlexMono-Bold';
  font-size: 3.5em;
}

h2 {
  font-size: 8vw;
  font-family: 'compagnon';

}

h3 {
  font-family: 'cmunui';
  font-size: 3vw;
}

h4{
  text-decoration: overline;
  font-family: 'cmunui';
  font-size: 2vw;
}
h5{
  text-decoration: underline;
  font-family: 'cmunui';
  font-size: 1em;

}

p {
  font-family: 'cmunbtl';
  font-size: .8vw;
}

.entete{
  color:white;
  font-size:1vw;
}

img {
  width: 100%;
  height: auto;
}





@font-face {
  font-family: 'compagnon';
  src: url('../font/Compagnon-Bold.otf') format('opentype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunbtl';
  src: url('../font/cmunbtl.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunui';
  src: url('../font/cmunui.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvi';
  src: url('../font/cmunvi.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvt';
  src: url('../font/cmunvt.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMono-LightItalic';
  src: url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
