/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;
    box-sizing: border-box;

}

h1 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 4em;
}

h2 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 1.25em;
}

h3 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 1.25em;
}

p{
  font-family: 'IBMPlexMono-Light';
  font-size: 0.65em;
  line-height: 1.0em;
}


li{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
}


.quote{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
}

.notes{
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.90em;
  line-height: 1.125em;
}


@font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
