/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */
body {
background: #f0f8ff;
  box-sizing: border-box;
}


.body_center {
background-color: blue;
  position: absolute;
  margin-top: 0px;
  width: 100%;
}

.toc{
  padding-left: 13%;
  text-decoration: underline;
  color: #15b965;
}

.print a {
  color: #15b965;
}

.print {
  font-size: 7vw;
  font-family: 'cmunui';
  text-decoration: none;
  padding-left: 3%;
}

.open-laptop{
  position: absolute;
  top: 30vw;

}

.wrapper{
position: relative;
  top: 40vw;
  display: inline-grid;
  grid-template-columns: repeat(2,2FR);
  grid-column-gap: 3%;
  grid-row-gap: .5%;
width: 25%;
float: right;
}

.documentation{
    position: relative;
    float: right;
    top: 30vw;
}

.Description p{
  font-size: 2em;
  padding: 0 10% 0 10%;

}

.PROJET{
  position: absolute;
  top: 160%;
  margin: 20 auto 0 auto;
  width: auto;
  padding-left: 10%;
padding-right: 10%;
}

.REF{
  position: absolute;
  margin: 20 auto 0 auto;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.liste-ref{
  font-size: 2vw;
  font-family: 'cmunvt';
  text-decoration: none;
  list-style-type: square;
}

.gras{
  font-size: 2.5vw;
}

.CHALLENGE{
  font-size: 2.5vw;
}

.liens:hover {
  font-family: 'compagnon';
  max-width:50%;
  border-bottom: solid 7px black;
  border-top: solid 7px black;
  font-size: 3vw;
  display: block;
  text-decoration: none;
  transform: rotate(3deg);
}


.up{
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 90%;
  float: right;
}


.up a{
  font-family: 'cmunvt';

  font-size: 3vw;

}

ul a:hover{
  font-family: 'compagnon';
  background: black;
color: white;
text-decoration: none;
}

ul {
  font-size: 4vw;
  font-family: 'cmunvt';
  text-decoration: none;
  list-style-type: square;
}

a{
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'IBMPlexMono-Bold';
  font-size: 3.5em;
}

h2 {
  font-family: 'cmunui';
  font-size: 2.3em;

}

h3 {
  font-family: 'cmunui';
  font-size: 2.0em;
}

h4{
  text-decoration: overline;
  font-family: 'cmunui';
  font-size: 1.3em;
}
h5{
  text-decoration: underline;
  font-family: 'cmunui';
  font-size: 1em;

}

p {
  font-family: 'cmunbtl';
  font-size: 2.8vw;
  line-height: 1.35em;
}

img {
  max-width: 100%;
  height: auto;
}

strong{
    font-family: 'cmunui';
letter-spacing: -.1vw;
}


.strong{
  font-family: 'cmunui';
letter-spacing: -.1vw;
}

.separate{
  background-color: black;
  width: 90%;
  height: .2vw;
  opacity: 1;
}

.notes {
  display: block;
  background: yellow;
  position: relative;
  left: 25%;
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.80em;
  line-height: 1.25em;
  max-width: 70%;
  text-align: left;
  transform: rotate(-3deg);
}

.ss-notes{
  display: block;
  background: #15b965;
  position: relative;
  color: white;
  left: 65%;
  font-family: 'cmunbtl';
  font-size: 0.70em;
  line-height: 1.25em;
  width: 20%;
  text-align: left;
  transform: scaleY(30deg);
}

.portrait{
  padding-right: 20px;
}


@font-face {
  font-family: 'compagnon';
  src: url('../font/Compagnon-Bold.otf') format('opentype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunbtl';
  src: url('../font/cmunbtl.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunui';
  src: url('../font/cmunui.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvi';
  src: url('../font/cmunvi.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cmunvt';
  src: url('../font/cmunvt.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMono-LightItalic';
  src: url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
